################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/c# feladatok/CopilotIndices/17.12.38.29086
/EredmenyekWPF/.vs/EredmenyekWPF
